/* Simple styling for readability */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.6;
  margin: 0;
  p {
  text-indent: 2em;
}
}

.wrapper {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
  font-size: 18px;
  
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 600;
}